.tpr-dialog div .color-picker * {
  box-sizing: border-box;
}
.tpr-dialog div .color-picker {
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  width: 200px;
  padding: 16px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(63,70,82,.15);
  position: fixed;
  z-index: 999;
}
.tpr-dialog div .color-picker:before {
  content: ' ';
  display: block;
  position: absolute;
  bottom: -9px;
  left: 14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: white transparent transparent;
  z-index: 2;
}
.tpr-dialog div .color-picker:after {
  z-index: 1;
  bottom: -12px;
  left: 13px;
  border-style: solid;
  content: ' ';
  position: absolute;
  border-color: rgba(63,70,82,.15) transparent transparent;
  border-width: 10px 10px 0 10px;
}
.tpr-dialog div .color-picker-disc-wrapper, .tpr-dialog div .color-picker-bar-wrapper {
  position: relative;
}
.tpr-dialog div .color-picker-disc-wrapper {
  width: 200px;
  height: 200px;
}
.tpr-dialog div .color-picker-bar-wrapper {
  width: 200px;
  height: 20px;
}
.tpr-dialog div .color-picker-cover {
  background: black;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  border-radius: 50%;
  cursor: crosshair;
}
.tpr-dialog div .color-picker-disc-cursor {
  position: absolute;
  border: 2px solid #eee;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: -10px;
  cursor: move;
  background-color: rgba(0,0,0,.222);
}
.tpr-dialog div .color-picker-luminance-bar {
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
}
.tpr-dialog div .color-picker-bar-bg, .tpr-dialog div .color-picker-bar-white {
  width: 200px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.tpr-dialog div .color-picker-bar-white {
  background-color: #ffffff;
}
.tpr-dialog div .color-picker-bar-cursor {
  position: absolute;
  border: 2px solid #eee;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: ew-resize;
  background-color: rgba(0,0,0,.222);
}
.tpr-dialog div .no-cursor .color-picker-cover,
.tpr-dialog div .no-cursor .color-picker-disc-cursor,
.tpr-dialog div .no-cursor .color-picker-luminance-bar,
.tpr-dialog div .no-cursor .color-picker-bar-cursor {
	cursor: none;
}
.tpr-dialog div .color-picker-palette {
  width: 200px;
}
.tpr-dialog div .color-picker-palette > h3 {
  color: rgba(63,70,82,.4);
  font-size: 11px;
  font-weight: 500;
  margin: 0 5px 8px 0;
  text-transform: uppercase;
}
.tpr-dialog div .color-picker-palette-group {
  width: 210px;
  margin-bottom: 16px;
  border-radius:  4px;
  overflow: hidden;
}
.tpr-dialog div .color-picker-palette-group:last-child {
  margin-bottom: 0;
}
.tpr-dialog div .color-picker-palette-group:after {
  content: " ";
  display: table;
  clear: both;
  float: none;
}
.tpr-dialog div .color-picker-palette-square {
  width: 40px;
  height: 40px;
  float: left;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(63,70,82,.15)
}
.tpr-dialog div .color-picker-palette-group .color-picker-palette-square:last-child {
  border-bottom-right-radius: 4px;
}
.tpr-dialog div .color-picker-palette-add {
  position: relative;
}
.tpr-dialog div .color-picker-palette-add:after {
  content: '+';
  display: block;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  text-indent: 0;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  z-index: 2002;
  position: absolute;
  font-weight: 200;
  color: #3f4653;
}
.tpr-dialog div .color-picker-customizer {
  display: none;
  position: absolute;
  padding: 12px 8px;
  top: 60px;
  left: 60px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(63,70,82,.15);
}
.tpr-dialog div .color-picker-active {
  visibility: visible;
  opacity: 1;
  display: block;
}
.tpr-dialog div .color-picker-bar-wrapper {
  margin: 10px 0;
}
.tpr-dialog div .color-picker-hex-wrapper {
  color: #3f4652;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tpr-dialog div .color-picker-hex {
  font-size: 12px;
  display: inline-block;
  margin-left: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  color: black;
  width: 72px;
}
.tpr-dialog .tpr-button.tpr-color-picker {
    transition: none;
}
