/** Global variables **/
$font-family: 'Open Sans', sans-serif;
$font-size: 13px;
$theme-color-1: #8D2242;
$theme-color-2: #D27390;
$text-color-1: #333;
$text-color-2: #FFF;

$app_origin: 'https://app.topperoo.test';