.progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    background-color: $white;
    border-radius: 2px;
    width: 100%;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    text-align: center;
    white-space: nowrap;
    background-color: $primary-color;
    transition: width .6s ease;
}
