.tabs {
    .nav-tabs {
        display: flex;
        border-bottom: $default-border;
        text-align: center;
        margin-bottom: 30px;

        .nav-item {
            width: 100%;
        }

        .nav-link {
            display: block;
            padding: 11px 0;
            font-size: $fs-smaller;
            color: $grey-text;
            transition: none;

            &.active {
                background: $secondary-color;
                border-radius: 3px 3px 0 0;
                color: $primary-color;
                font-weight: 600;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }

    .tab-content {
        .tab-pane {
            display: none;

            &.active {
                display: block;
            }

            & > div {
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }
}
