<div class="main-sidebar box">
    <ul>
        <li data-level="primary">
            <a href="#templates">
                <i class="icon-Layout"></i>
                Layout
            </a>
        </li>
        <li data-level="primary">
            <a href="#library">
                <i class="icon-Design"></i>
                Design
            </a>
            <ul class="sub-menu">
                <li data-level="secondary"><a href="#library"><i class="icon-Design-library"></i> Library</a></li>
                <li data-level="secondary"><a href="#photo"><i class="icon-Photo"></i> Photos</a></li>
                <li data-level="secondary"><a href="#text"><i class="icon-Text"></i> Text</a></li>
                <li data-level="secondary"><a href="#clip-art"><i class="icon-Clip-art"></i> Clip Art</a></li>
            </ul>
        </li>
        <li data-level="primary">
            <a href="#saved-designs">
                <i class="icon-My-saved-designs"></i>
                My saved designs
            </a>
        </li>
    </ul>

    <div class="copyright">Powered by Topperoo</div>
</div>
