<div class="top-panel box">
    <div class="top-panel-title">
        <strong class="mr10">80mm Circles (6)</strong>
        <span class="fs-extra-small">A4 sheet</span>
    </div>
    <div class="top-panel-tools">
        <button data-toggle="tooltip" data-placement="bottom"><i class="icon-Undo"></i><span class="tooltip">Undo</span></button>
        <button data-toggle="tooltip" data-placement="bottom"><i class="icon-Redo"></i><span class="tooltip">Redo</span></button>
        <button data-toggle="tooltip" data-placement="bottom"><i class="icon-Reset"></i><span class="tooltip">Reset</span></button>
        <button data-toggle="tooltip" data-placement="bottom"><i class="icon-Zoom"></i><span class="tooltip">Zoom In</span></button>
        <button data-toggle="tooltip" data-placement="bottom"><i class="icon-Rotate"></i><span class="tooltip">Rotate</span></button>
        <button data-toggle="tooltip" data-placement="bottom"><i class="icon-View"></i><span class="tooltip">Preview</span></button>
        <button data-toggle="tooltip" data-placement="bottom" class="btn-share"><i class="icon-Share"></i> Share <span class="tooltip">Share</span></button>
    </div>
</div>

<div class="workspace-content box">
    <div class="workspace-content-header d-flex justify-content-space-between align-items-center mb10">
        <div class="d-flex-item title">
            <strong class="mr10">80mm Circles (6)</strong>
            <span class="fs-extra-small">A4 sheet</span>
        </div>
        <div class="d-flex-item right">
            <div class="workspace-notification">
                Сhanges have been saved
            </div>
        </div>
    </div>
    <div class="main-template">
        <div id="viewport"></div>

        <ul class="layer-tools disabled" style="position: absolute; top: 35px; left: -40px;">
            <li>
                <a href="#">
                    <i class="icon-Forward"></i>
                    Forward
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-Backward"></i>
                    Backward
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-Crop"></i>
                    Crop
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-Crop"></i>
                    Crop
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-Dublicate"></i>
                    Dublicate
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-Delete"></i>
                    Delete
                </a>
            </li>
        </ul>

        <ul class="layer-tools-small" style="position: absolute; top: 300px; right: 65px;display: none;">
            <li><a href="#"><i class="icon-update"></i></a></li>
        </ul>

        <div style="width: 152px; position: absolute; top: 13px; left: 14px;display: none;">
            <img src="../img/Edit-topper.png" alt="">
        </div>

        <div style="width: 152px; position: absolute; top: 149px; right: 3px;display: none;">
            <img src="../img/Edit-topper-2.png" alt="">
        </div>
    </div>

    <div class="workspace-tools">
        <div class="d-flex">
            <div class="d-flex-item">
                <button data-toggle="tooltip" data-placement="top"><i class="icon-Undo"></i><span class="tooltip">Undo</span></button>
                <button data-toggle="tooltip" data-placement="top"><i class="icon-Redo"></i><span class="tooltip">Redo</span></button>
                <button data-toggle="tooltip" data-placement="top"><i class="icon-Reset"></i><span class="tooltip">Reset</span></button>
                <button data-toggle="tooltip" data-placement="top"><i class="icon-View"></i><span class="tooltip">Preview</span></button>
            </div>
            <div class="d-flex-item right">
                <button data-toggle="tooltip" data-placement="top" class="btn-share"><i class="icon-Share"></i> Share <span class="tooltip">Share</span></button>
            </div>
        </div>
    </div>

    <div class="workspace-actions">
        <div class="d-flex">
            <div class="d-flex-item left">
                <div class="btn-details">
                    <a href="#" class="btn btn-secondary"><span class="desktop-only">Order</span> details <i class="chevron-arrow-down"></i></a>
                    <span class="price">£ 8.99 </span>
                    <div class="btn-details-box">
                        <div class="title">No. of sheets</div>
                    </div>
                </div>
            </div>
            <div class="d-flex-item right">
                <a href="#" class="btn btn-primary">Add to card</a>
            </div>
        </div>
    </div>
</div>
