<div><!-- Root node is required -->

    <!-- The content of this block will be inserted into ".scroll-sidebar"  -->
    <div id="desktop">
        <div class="component-template sidebar-color-component">
            <div class="field">
                <h3 class="mb20">Color</h3>
            </div>

            <div class="field">
                <div class="title">Template colors:</div>

                <div class="colors">
                    <div class="color-box" style="background-color: #FFD898;"></div>
                    <div class="color-box" style="background-color: #9B9B9B;"></div>
                    <div class="color-box" style="background-color: #F8E71C;"></div>
                </div>
            </div>

            <div class="field">
                <div class="title">Default colors:</div>

                <div class="colors">
                    <div class="color-box" style="background-color: #D0021B;"></div>
                    <div class="color-box" style="background-color: #F5A623;"></div>
                    <div class="color-box" style="background-color: #F8E71C;"></div>
                    <div class="color-box" style="background-color: #8B572A;"></div>
                    <div class="color-box" style="background-color: #7ED321;"></div>
                    <div class="color-box" style="background-color: #417505;"></div>
                    <div class="color-box" style="background-color: #BD10E0;"></div>
                    <div class="color-box" style="background-color: #9013FE;"></div>
                    <div class="color-box" style="background-color: #4A90E2;"></div>
                    <div class="color-box" style="background-color: #50E3C2;"></div>
                    <div class="color-box" style="background-color: #B8E986;"></div>
                    <div class="color-box" style="background-color: #8FF899;"></div>
                    <div class="color-box" style="background-color: #000000;"></div>
                    <div class="color-box" style="background-color: #4A4A4A;"></div>
                    <div class="color-box" style="background-color: #9B9B9B;"></div>
                    <div class="color-box" style="background-color: #FFFFFF; border-color: #9B9B9B;"></div>
                    <div class="color-box" style="background-color: #997CF6;"></div>
                    <div class="color-box" style="background-color: #7D36F7;"></div>
                    <div class="color-box" style="background-color: #F68AC0;"></div>
                    <div class="color-box" style="background-color: #FF3185;"></div>
                    <div class="color-box" style="background-color: #0B20FA;"></div>
                    <div class="color-box" style="background-color: #8AAFDA;"></div>
                    <div class="color-box" style="background-color: #21BDD4;"></div>
                    <div class="color-box" style="background-color: #FFD898;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- The content of this block will be inserted into ".app-mobile-tab"  -->
    <div id="mobile">
        <div class="component-template sidebar-color-component">
            <div class="field">
                <h3 class="mb20">Color</h3>
            </div>

            <div class="field">
                <div class="title">Template colors:</div>

                <div class="colors">
                    <div class="color-box" style="background-color: #FFD898;"></div>
                    <div class="color-box" style="background-color: #9B9B9B;"></div>
                    <div class="color-box" style="background-color: #F8E71C;"></div>
                </div>
            </div>

            <div class="field">
                <div class="title">Default colors:</div>

                <div class="colors">
                    <div class="color-box" style="background-color: #D0021B;"></div>
                    <div class="color-box" style="background-color: #F5A623;"></div>
                    <div class="color-box" style="background-color: #F8E71C;"></div>
                    <div class="color-box" style="background-color: #8B572A;"></div>
                    <div class="color-box" style="background-color: #7ED321;"></div>
                    <div class="color-box" style="background-color: #417505;"></div>
                    <div class="color-box" style="background-color: #BD10E0;"></div>
                    <div class="color-box" style="background-color: #9013FE;"></div>
                    <div class="color-box" style="background-color: #4A90E2;"></div>
                    <div class="color-box" style="background-color: #50E3C2;"></div>
                    <div class="color-box" style="background-color: #B8E986;"></div>
                    <div class="color-box" style="background-color: #8FF899;"></div>
                    <div class="color-box" style="background-color: #000000;"></div>
                    <div class="color-box" style="background-color: #4A4A4A;"></div>
                    <div class="color-box" style="background-color: #9B9B9B;"></div>
                    <div class="color-box" style="background-color: #FFFFFF; border-color: #9B9B9B;"></div>
                    <div class="color-box" style="background-color: #997CF6;"></div>
                    <div class="color-box" style="background-color: #7D36F7;"></div>
                    <div class="color-box" style="background-color: #F68AC0;"></div>
                    <div class="color-box" style="background-color: #FF3185;"></div>
                    <div class="color-box" style="background-color: #0B20FA;"></div>
                    <div class="color-box" style="background-color: #8AAFDA;"></div>
                    <div class="color-box" style="background-color: #21BDD4;"></div>
                    <div class="color-box" style="background-color: #FFD898;"></div>
                </div>
            </div>
        </div>
    </div>

</div>

