<div><!-- Root node is required -->

    <!-- The content of this block will be inserted into ".scroll-sidebar"  -->
    <div id="desktop">
        <div class="component-template sidebar-library-component">
            <div class="field">
                <div class="form-search">
                    <input type="text" placeholder="Search">
                    <i class="icon-search"></i>
                </div>
            </div>

            <div class="filters">
                <h4 class="filters-title"><i class="icon-Filter"></i> Filters</h4>

                <div class="dropdown">
                    <a href="#" class="dropdown-link">Sort By</a>
                    <div class="dropdown-box"></div>
                </div>

                <div class="dropdown open">
                    <a href="#" class="dropdown-link">Any types of shape</a>
                    <div class="dropdown-box">
                        <ul><span>Any types of shape</span>
                            <li><a href="#">Round</a></li>
                            <li><a href="#">Square</a></li>
                            <li><a href="#">Other shape</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="field">
                <h3>Add pattern</h3>

                <div class="title-small d-flex">
                    <div class="d-flex-item">Free Designs</div>
                    <div class="d-flex-item right">
                        <a href="#">All <i class="chevron-arrow-right"></i></a>
                    </div>
                </div>

                <div class="pattern-images">
                    <div class="pattern-item">
                        <img src="img/Image1.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image2.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image3.png" alt="">
                        <div class="badge">royalty</div>
                    </div>
                </div>
            </div>

            <div class="field">

                <div class="title-small d-flex">
                    <div class="d-flex-item">Animals</div>
                    <div class="d-flex-item right">
                        <a href="#">All <i class="chevron-arrow-right"></i></a>
                    </div>
                </div>

                <div class="pattern-images">
                    <div class="pattern-item">
                        <img src="img/Image4.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image5.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image6.png" alt="">
                        <div class="badge">royalty</div>
                    </div>
                </div>
            </div>

            <div class="field">

                <div class="title-small d-flex">
                    <div class="d-flex-item">Birthday</div>
                    <div class="d-flex-item right">
                        <a href="#">All <i class="chevron-arrow-right"></i></a>
                    </div>
                </div>

                <div class="pattern-images">
                    <div class="pattern-item">
                        <img src="img/Image1.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image2.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image3.png" alt="">
                        <div class="badge">royalty</div>
                    </div>
                </div>
            </div>

            <div class="field">

                <div class="title-small d-flex">
                    <div class="d-flex-item">Borders</div>
                    <div class="d-flex-item right">
                        <a href="#">All <i class="chevron-arrow-right"></i></a>
                    </div>
                </div>

                <div class="pattern-images">
                    <div class="pattern-item">
                        <img src="img/Image4.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image5.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image6.png" alt="">
                        <div class="badge">royalty</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The content of this block will be inserted into ".app-mobile-tab"  -->
    <div id="mobile">
        <div class="component-template sidebar-library-component">
            <div class="field">
                <div class="form-search">
                    <input type="text" placeholder="Search">
                    <i class="icon-search"></i>
                </div>
            </div>

            <div class="filters">
                <h4 class="filters-title"><i class="icon-Filter"></i> Filters</h4>

                <div class="dropdown">
                    <a href="#" class="dropdown-link">Sort By</a>
                    <div class="dropdown-box"></div>
                </div>

                <div class="dropdown open">
                    <a href="#" class="dropdown-link">Any types of shape</a>
                    <div class="dropdown-box">
                        <ul><span>Any types of shape</span>
                            <li><a href="#">Round</a></li>
                            <li><a href="#">Square</a></li>
                            <li><a href="#">Other shape</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="field">
                <h3>Add pattern</h3>

                <div class="title-small d-flex">
                    <div class="d-flex-item">Free Designs</div>
                    <div class="d-flex-item right">
                        <a href="#">All <i class="chevron-arrow-right"></i></a>
                    </div>
                </div>

                <div class="pattern-images">
                    <div class="pattern-item">
                        <img src="img/Image1.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image2.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image3.png" alt="">
                        <div class="badge">royalty</div>
                    </div>
                </div>
            </div>

            <div class="field">

                <div class="title-small d-flex">
                    <div class="d-flex-item">Animals</div>
                    <div class="d-flex-item right">
                        <a href="#">All <i class="chevron-arrow-right"></i></a>
                    </div>
                </div>

                <div class="pattern-images">
                    <div class="pattern-item">
                        <img src="img/Image4.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image5.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image6.png" alt="">
                        <div class="badge">royalty</div>
                    </div>
                </div>
            </div>

            <div class="field">

                <div class="title-small d-flex">
                    <div class="d-flex-item">Birthday</div>
                    <div class="d-flex-item right">
                        <a href="#">All <i class="chevron-arrow-right"></i></a>
                    </div>
                </div>

                <div class="pattern-images">
                    <div class="pattern-item">
                        <img src="img/Image1.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image2.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image3.png" alt="">
                        <div class="badge">royalty</div>
                    </div>
                </div>
            </div>

            <div class="field">

                <div class="title-small d-flex">
                    <div class="d-flex-item">Borders</div>
                    <div class="d-flex-item right">
                        <a href="#">All <i class="chevron-arrow-right"></i></a>
                    </div>
                </div>

                <div class="pattern-images">
                    <div class="pattern-item">
                        <img src="img/Image4.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image5.png" alt="">
                        <div class="badge">Free</div>
                    </div>
                    <div class="pattern-item">
                        <img src="img/Image6.png" alt="">
                        <div class="badge">royalty</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

