<div><!-- Root node is required -->

    <!-- The content of this block will be inserted into ".scroll-sidebar"  -->
    <div id="desktop">
        <div class="component-template sidebar-text-component">
            <div class="field">
                <h3 class="mb20">Add text</h3>

                <textarea placeholder="Your text here"></textarea>
            </div>

            <div class="field">
                <div class="title">Typed text:</div>

                <div class="typed-text">
                    <div class="typed-text-item active">
                        <div class="typed-text-box">Y</div>
                        <div class="input-quantity">
                            <button>-</button>
                            <span class="number">1</span>
                            <button>+</button>
                        </div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">T</div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">H</div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">A</div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">C</div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">P</div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="title">Font face:</div>

                <div class="dropdown d-block">
                    <a href="#" class="dropdown-select">Arial</a>
                    <div class="dropdown-box">
                        <ul><span>Arial</span>
                            <li><a href="#">Roboto</a></li>
                            <li><a href="#">Open Sans</a></li>
                            <li><a href="#">Raleway</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="d-flex">
                    <div class="d-flex-item width-40">
                        <div class="title mb10">Text color:</div>

                        <div class="colors">
                            <div class="color-box" style="background-color: #9B9B9B;"></div>
                        </div>
                    </div>
                    <div class="d-flex-item width-60">
                        <div class="title mb10">Text style:</div>

                        <div class="text-style">
                            <button class="text-style-normal active">T</button>
                            <button class="text-style-bold">T</button>
                            <button class="text-style-italic">T</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="title">Bend text:</div>

                <div class="range-buttons">
                    <button class="left"><span class="icon-Left-side"><span class="path1"></span><span class="path2"></span></span></button>
                    <input type="range">
                    <button class="right"><span class="icon-Right-side"><span class="path1"></span><span class="path2"></span></span></button>
                </div>
            </div>

            <div class="field-actions">
                <a href="#" class="btn btn-secondary">Cancel</a>
                <a href="#" class="btn btn-primary">Add text</a>
            </div>
        </div>
    </div>

    <!-- The content of this block will be inserted into ".app-mobile-tab"  -->
    <div id="mobile">
        <div class="component-template sidebar-text-component">
            <div class="field">
                <h3 class="mb20">Add text</h3>

                <textarea placeholder="Your text here"></textarea>
            </div>

            <div class="field">
                <div class="title">Typed text:</div>

                <div class="typed-text">
                    <div class="typed-text-item active">
                        <div class="typed-text-box">Y</div>
                        <div class="input-quantity">
                            <button>-</button>
                            <span class="number">1</span>
                            <button>+</button>
                        </div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">T</div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">H</div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">A</div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">C</div>
                    </div>
                    <div class="typed-text-item">
                        <div class="typed-text-box">P</div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="title">Font face:</div>

                <div class="dropdown d-block">
                    <a href="#" class="dropdown-select">Arial</a>
                    <div class="dropdown-box">
                        <ul><span>Arial</span>
                            <li><a href="#">Roboto</a></li>
                            <li><a href="#">Open Sans</a></li>
                            <li><a href="#">Raleway</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="d-flex">
                    <div class="d-flex-item width-40">
                        <div class="title mb10">Text color:</div>

                        <div class="colors">
                            <div class="color-box" style="background-color: #9B9B9B;"></div>
                        </div>
                    </div>
                    <div class="d-flex-item width-60">
                        <div class="title mb10">Text style:</div>

                        <div class="text-style">
                            <button class="text-style-normal active">T</button>
                            <button class="text-style-bold">T</button>
                            <button class="text-style-italic">T</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="title">Bend text:</div>

                <div class="range-buttons">
                    <button class="left"><span class="icon-Left-side"><span class="path1"></span><span class="path2"></span></span></button>
                    <input type="range">
                    <button class="right"><span class="icon-Right-side"><span class="path1"></span><span class="path2"></span></span></button>
                </div>
            </div>

            <div class="field-actions">
                <a href="#" class="btn btn-secondary">Cancel</a>
                <a href="#" class="btn btn-primary">Add text</a>
            </div>
        </div>
    </div>

</div>

